

$colorBackHome      : #003E54;
$colorBack          : #333333;
$colorBackTitle     : #CBCBCB;
$colorText          : #fff;
$colorMagenta       : #E1007A;
$colorCyan          : #009DDF;
$colorYellow        : #FFEC00;


$fontTitle          : 'Rubik', sans-serif;
$fontText           : 'Montserrat', sans-serif;
$fontCredits        : 'Ubuntu', sans-serif;