
@use './variables' as *;


@keyframes discloseMenu{
    0%{
        top: -500px;
    }
    100%{
        top: 0px;
    }
}


@keyframes sliceDownNavBar{
    0%{
        top: -500px;
    }
    100%{
        top: 0px;
        display: flex;
    }
}
@keyframes sliceUpNavBar{
    0%{
        top: 0px;
    }
    100%{
        top: -500px;
        display: none;
    }
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h1, h2, h3, h4, h5 , h6{
        font-family: $fontTitle;
        text-transform: uppercase;
        // margin-block-start: 0px;
        // margin-block-end: 0px;
    }
    p{
        font-family: $fontText;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    
}
html {
    scroll-behavior: smooth;
    //overflow: hidden;
    
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	//box-shadow: 2px 2px 3px rgb(0, 0, 0);
    box-shadow: 3px 3px 10px #000;
    z-index:100;
    &:hover{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
}
}

.my-float{
	margin-top:16px;
}


.hide{
    //display: none;
    opacity: 0;
}
.fade-out{
    opacity: 0;
}
.scale-down{
    margin-bottom: 10px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}

body{
    width: 100vw;

    //overflow-y: hidden;
    //scroll-snap-type: none;
    //scroll-snap-stop: 50px;
    
    overflow-x: hidden;
    
    
    
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .arrow-top{
        z-index: 100;
        width: 60px;
        height: 60px;

        position: fixed;
        bottom: 160px;
        right: 40px;

        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 10px #000;

        &:hover{
            // background-color: $colorBackTitle;
            // opacity: 0.8;
            transform: scale(1.15);
            -webkit-transform: scale(1.15);
            -moz-transform: scale(1.15);
            -ms-transform: scale(1.15);
            -o-transform: scale(1.15);
}

        img{
            width: 100%;
            height: 100%;
        }
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        
        transition: opacity 500ms ease-in-out;
        -webkit-transition: opacity 500ms ease-in-out;
        -moz-transition: opacity 500ms ease-in-out;
        -ms-transition: opacity 500ms ease-in-out;
        -o-transition: opacity 500ms ease-in-out;
}

    .nav-bar{
        z-index: 100;
        width: 100vw;
        height: 10vh;
        max-height: 60px;
        //margin: 0 120px;
        padding: 0 50px;
        position: fixed;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        //background-color: rgba(0, 0, 0, 0);
        //background-color: tomato;
        //background-color: $colorBack;
        
        
        a{
            text-decoration: none;
        }
        .brand{
            width: 300px;
            height: 60px;
            //padding-top: 0px;
            //margin: 10px;
            //margin-top: 30px;
            margin-right: 0px;
            display: flex;
            align-items: center;

            //background-color: #25d366;

            img{
                height: 43px;
                transition: transform 0.5s ease-in-out;
                -webkit-transition: transform 0.5s ease-in-out;
                -moz-transition: transform 0.5s ease-in-out;
                -ms-transition: transform 0.5s ease-in-out;
                -o-transition: transform 0.5s ease-in-out;
            }
            img{
                transition: margin-bottom 0.2s ease-in-out;
                -webkit-transition: margin-bottom 0.2s ease-in-out;
                -moz-transition: margin-bottom 0.2s ease-in-out;
                -ms-transition: margin-bottom 0.2s ease-in-out;
                -o-transition: margin-bottom 0.2s ease-in-out;
            }

            .brand-name{
                width: 270px;
                height: 60px;
                margin: 0 10px;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                
                .name-logo{
                    
                    font-family: $fontText;
                    font-size: 2rem;
                    font-weight: 600;
                    text-align: center;
                    color: $colorText;
                    
    
                }
    
                .line-work{
                    //width: 270px;
                    margin: -7px 0;
                    margin-left: 0px;
                    font-family: $fontText;
                    font-size: 0.87rem;
                    font-weight: 100;
                    text-align: center;
                    letter-spacing: 2.8px;
                    color: darken($colorText, 0);
                    transition: opacity 0.5s ease-in-out;
                    -webkit-transition: opacity 0.5s ease-in-out;
                    -moz-transition: opacity 0.5s ease-in-out;
                    -ms-transition: opacity 0.5s ease-in-out;
                    -o-transition: opacity 0.5s ease-in-out;
                }
            }
            
        }

        .nav-menu{
            height: 40px;
            //margin-top: 6vh;
            
            //margin-right: 6vh;
            //background-color: aqua;
        
            & ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                //margin-bottom: 10px;
        
                & li{
                    min-width: 75px;
                    margin: 0 20px;
                    list-style: none;
                    border-style: none;
                    text-align: center;
                
                
                    & a{
                        font-family: $fontTitle;
                        font-size: 1.2rem;
                        font-weight: 400;
                        text-decoration: none;
                        text-transform: uppercase;
                        
                        color: $colorText;
                        
                        
                        &:hover {
                            // font-size: 1.1rem;
                            //margin-bottom: 10px;
                            //padding-bottom: 10px;
                            color: $colorMagenta;
                        }
                        &:click {
                            color: darken($colorCyan , 0.5)
                        }
                    
                    }
                }
                
            }
        
        }
        //transition: background-color 0.5s ease-in-out;
        //-webkit-transition: background-color 0.5s ease-in-out;
        //-moz-transition: background-color 0.5s ease-in-out;
        //-ms-transition: background-color 0.5s ease-in-out;
        //-o-transition: background-color 0.5s ease-in-out;
        transition: opacity 250ms ease-in-out;
        -webkit-transition: opacity 250ms ease-in-out;
        -moz-transition: opacity 250ms ease-in-out;
        -ms-transition: opacity 250ms ease-in-out;
        -o-transition: opacity 250ms ease-in-out;
}

    /* BURGUER MENU UNABLE AND SETTING*/
    .nav-bar{
        
        .menu-mobile {
            width: 50px;
            height: 50px;
            position: fixed;
            top: 500px;
            right: 50px;
            z-index: 20000;
            //display: none;
            //display: flex;
            flex-direction:column;
            
            
            .disclose-menu{
                display: none;
                //display: flex;

                //top: -500px;
                //transition: display 1000ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
                //-webkit-transition: display 1000ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
                //-moz-transition: display 1000ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
                //-ms-transition: display 1000ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
                //-o-transition: display 1000ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
                // transition: position 500ms ease-in-out;
                // -webkit-transition: position 500ms ease-in-out;
                // -moz-transition: position 500ms ease-in-out;
                // -ms-transition: position 500ms ease-in-out;
                // -o-transition: position 500ms ease-in-out;
}

            .show-menu-mobile{
                display: flex;
            }
            
            .hide-menu-mobile{
                //top: -500px;
                //animation: discloseMenu 1000ms ease 0s reverse;
                //-webkit-animation: discloseMenu 1000ms ease 0s reverse;
                animation: sliceUpNavBar 1000ms ease 0s normal;
                -webkit-animation: sliceUpNavBar 1000ms ease 0s normal;
                
}
            .show-menu-mobile{
                //display: flex;
                //top: 0px;
                animation: sliceDownNavBar 1000ms ease 0s normal;
                -webkit-animation: sliceDownNavBar 1000ms ease 0s normal;
}   

           

            span{
              //background: #4C9AD3;
              z-index: 3000000;
              background: $colorText;
              border-radius:10px;
              height: 5px;
              min-height: 5px;
              margin: 6px 0;
              
}
        }
        

        .menu-mobile span:nth-of-type(1){
            width:40px;
          }
      
          .menu-mobile span:nth-of-type(2){
            width:40px;
          }
      
          .menu-mobile span:nth-of-type(3){
            width:30px;
          } 
          .menu-mobile input[type="checkbox"]{
            display:none;
          }
      
          .menu-mobile input[type="checkbox"]:checked ~ span:nth-of-type(1){
            transform-origin:bottom;
            transform:rotatez(45deg) translate(12px,12px)
          }
      
      
          .menu-mobile input[type="checkbox"]:checked ~ span:nth-of-type(2){
            transform-origin:top;
            transform:rotatez(-45deg)
          }
      
      
          .menu-mobile input[type="checkbox"]:checked ~ span:nth-of-type(3){
            transform-origin:bottom;
            width:50%;
            transform: translate(20px,-12px) rotateZ(45deg) rotateY(90deg);
            //transform: rotateY(90deg);
        
          }
      

        //   .menu-mobile input[type="checkbox"]:checked ~ .disclose-menu{
        //           //display: flex;
        //           //animation-name: discloseMenu;
        //           //animation-duration: 1s;
        //           //animation-iteration-count: initial;
        //           //animation-direction: alternate;
        //         //   animation: discloseMenu 1s ease 0s 1 normal forwards;
        //         //   -webkit-animation: discloseMenu 1s ease 0s 1 normal forwards;
        //     }

            
            
      
      
      
          /* *****************************************************************/
      
          .disclose-menu{
              /*display: none;
              *///z-index: 2;
              margin-top: 0;
              position: fixed;
              /*z-index: 4;
              */
              top: 0px;
              right: 0;
              //width: 200px;
              width: 100vw;
              //max-width: 350px;
              height: 55vh;
              //max-height: 250px;
              //background: rgba(darken($colorBackTitle, 70%), 60%);
              //opacity: 70%;
              background: rgba(0, 0, 0, 0.2);
              backdrop-filter: blur(15px);
              -webkit-backdrop-filter: blur(15px);
              //padding: 10px 30px;
              //padding-top: 20vh;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
             
              
              ul{
                /* display: flex;
                justify-content: space-between;
                align-items: center; */
                //margin-bottom: 150px;
                position: absolute;
                top: 50px;
                list-style: none;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
          
          
                li{
                    //margin: 0 0px;
                    /* display: flex;
                    justify-content: flex-start;
                    align-items: center; */
                    height: 2vh;
                    border: 1px solid transparent; /* le da grosor, solido y transparencia para que las palabras queden quietas al hacer el hover */
                    transition: 0.3s;
                    margin-bottom: 50px;
                    //color: rgb(129, 196, 255);

                    :hover{
                        color: $colorMagenta; 
                        width: fit-content;
                    }

                    a{
                        z-index: 5;
                        font-family: $fontTitle; 
                        font-weight: 500;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 2em;
                        color: $colorText;
                        //color: rgb(151, 205, 253);
                        
                  
                        & :hover{
                          color: $colorMagenta; 
                        }
                    }
                }
            }
             
            
            
        }

        

        transition: background 250ms;
        -webkit-transition: background 250ms;
        -moz-transition: background 250ms;
        -ms-transition: background 250ms;
        -o-transition: background 250ms;
}

    .nav-gray{
        z-index: 200;
        background: rgba(0, 0, 0, 0.2);
        //opacity: 0.8;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);    

    }

    .hide{
        display: none;
        //opacity: 0;
    }
    .sliceDown{
        //display: flex;
        animation: sliceDownNavBar 500ms ease-in-out normal;
        -webkit-animation: sliceDownNavBar 500ms ease-in-out normal;
}
    .sliceUp{
        //display: flex;
        animation: sliceUpNavBar 500ms ease-in-out normal;
        -webkit-animation: sliceUpNavBar 500ms ease-in-out normal;
}

}







// html,
//       body {
//         position: relative;
//         //height: 100%;
//       }

//     //   body {
//     //     //background: #eee;
//     //     //font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//     //     //font-size: 14px;
//     //     //color: #000;
//     //     //margin: 0;
//     //     //padding: 0;
//     //   }

//       .swiper {
//         width: 100%;
//         height: 100%;
//         height: 500px;
//       }

//       .swiper-slide {
//         text-align: center;
//         font-size: 18px;
//         //background: #fff;

//         /* Center slide text vertically */
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: -webkit-flex;
//         display: flex;
//         -webkit-box-pack: center;
//         -ms-flex-pack: center;
//         -webkit-justify-content: center;
//         justify-content: center;
//         -webkit-box-align: center;
//         -ms-flex-align: center;
//         -webkit-align-items: center;
//         align-items: center;
//       }

//       .swiper-slide img {
//         display: block;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }















.home,
.about,
.services,
.contact{
    width: 100vw;
    height: 100vh;
    min-height: 800px;

    .back-navbar{
        //z-index: 100;
        width: 100vw;
        height: 10vh;
        position: absolute;

        background-color: $colorBack;
        //background-color: red;
    }
}

.home{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorBackHome;


    .swiper{
        z-index: 1;
        width: 100vw;
        //height: 500px;
        height: 100vh;
        max-height: 500px;
        position: relative;
        //position: static;
        //position: absolute;
        top: 200px;

        .swiper-wrapper{
            z-index: 1;
            width: 100vw;
            height: 700px;
            //height: 100vh;
            //max-height: 500px;
            //position: relative;
            //position: static;
            //position: absolute;
            //top: 200px;
    
            //background: #fff url(/imgs/carrousel_01.jpg) center center/cover no-repeat fixed;
            //top: ;
            .swiper-slide{
                height: 100%;
                //background-color: #25d366;
                img{
                    width: 100vw;
                    height: 100%;
                    position: relative;
                    top: 0px;
                    object-fit: cover;
                }
                //background-image: url();
            }
            
        }

        .fade{
            z-index: 10;
            width: 100vw;
            //height: 500px;
            height: 100vh;
            max-height: 500px;
            position: absolute;
            top: 0px;

            background-color: rgba(0, 62, 84, 0.5);

            .fade-top, .fade-bottom{
                width: 100%;
                height: 50%;
            }

            .fade-top{
                background: linear-gradient(0deg, rgba(0,0,0,0) 0%, $colorBackHome 85%);
            }
            .fade-bottom{
                background: linear-gradient(0deg, $colorBackHome 15%, rgba(0,0,0,0) 100%);
            }
        }
    }

    

    .slogan{
        z-index: 50;
        width: 45%;
        //margin-top: 0px;
        position: absolute;
        top: 220px;

        font-size: 2.6rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1.5px;
        color: $colorText;
    }

    .buttons{
        z-index: 50;
        position: absolute;
        bottom: 120px;

        display: flex;
        align-items: center;
        a{
            appearance: none;
            text-decoration: none;
        }
        .button{
            width: 200px;
            height: 50px;
            margin: 0 80px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-family: $fontText;
            font-size: 1.4rem;
            font-weight: 500;
            
            text-transform: uppercase;
            color: $colorText;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid $colorText;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        .button{
            &:hover{
            cursor: pointer;
            color: darken($colorMagenta, 0);
            border-color: darken($colorMagenta, 0);
            }
            &:active{
                transform: scale(0.95);
                -webkit-transform: scale(0.95);
                -moz-transform: scale(0.95);
                -ms-transform: scale(0.95);
                -o-transform: scale(0.95);
}
        }
    }
}

.about{
    //same height of nav-bar
    //margin-top: 10vh;
    background-color: $colorBack;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
        width: 100vw;
        padding-top: 40px;
        height: calc(120px + 10vh) ;
        background-color: $colorBackTitle;
        //background-color: #386aa0;

        h4{
            font-size: 15rem;
            font-size: calc(100vw / 6) ;
            text-transform: uppercase;
            text-align: center;
            color: $colorBack;
        }
    }
    h5{
        margin: 20px 0;
        font-family: $fontText;
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: none;
        color: $colorText;
    }

    .mission{
        width: 65vw;
        margin-top: 60px;
        display: flex;
        align-items: center;
        

        //background-color: burlywood;

        img{
            height: 260px;
            margin: 20px;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }
        .paragraphs{
            //width: 50%;
            margin-left: 100px;

            font-size: 1.6rem;
            font-weight: 500;
            

            color: $colorText;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .paragraph-01, .paragraph-02{
                margin: 10px 0;
                //text-align: justify;
                //text-align: right;
                //word-wrap: break-word;
            }
        }
    }

    // .line{
    //     width: 50vw;
    //     height: 2px;
    //     position: relative;
    //     bottom: -5vh;
        
    
    //     //margin: 20px 0;
    //     background-color: $colorText;
    //     border-radius: 1px;
    //     -webkit-border-radius: 1px;
    //     -moz-border-radius: 1px;
    //     -ms-border-radius: 1px;
    //     -o-border-radius: 1px;
    // }

}

.services{
    height: fit-content;
    background-color: $colorBack;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    .title{
        width: 100vw;
        padding-top: 40px;
        height: calc(120px + 10vh) ;
        background-color: $colorBackTitle;

        h4{
            font-size: 15rem;
            font-size: calc(100vw / 6) ;
            text-transform: uppercase;
            text-align: center;
            color: $colorBack;
        }
    }
    h5{
        margin: 20px 0;
        font-family: $fontText;
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: none;
        color: $colorText;
    }

    .cards-services{
        width: 90vw;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .card{
            width: 30%;
            min-width: 366px;
            height: 230px;
            //min-height: ;
            margin: 15px;
            background-color: $colorBackTitle;
            display: flex;
            flex-direction: column;
            //justify-content: space-around;
            align-items: center;
            &:nth-child(2n){
                background-color: darken($colorBackTitle, 20);

            }
            
            img{
                width: 50px;
                height: 50px;
                margin-top: 10px;
                //background-color: $colorMagenta;
                display: flex;
                justify-content: center;
                align-items: center;

               
            }
            h5{
                width: 280px;
                margin-top: 10px;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;

                color: darken($colorBack, 10);
                color: $colorBackHome;

            
            }

            p{
                width: 80%;
                font-size: 0.9rem;
                text-align: center;
                color: darken($colorBack, 10);
            }
            
            
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
}
    }
}

.contact{
    height: fit-content;
    background-color: $colorBack;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
        width: 100vw;
        padding-top: 40px;
        height: calc(120px + 10vh) ;
        background-color: $colorBackTitle;

        h4{
            font-size: 15rem;
            font-size: calc(100vw / 6) ;
            text-transform: uppercase;
            text-align: center;
            color: $colorBack;
        }
    }
    h5{
        margin: 20px 0;
        font-family: $fontText;
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: none;
        color: $colorText;
        
    }

    
    .form-contact {
        width: 80vw;
        height: 40vh;
        //padding: 10px;

        
        //background-color: brown;

        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
        flex-wrap: wrap;
        //flex-flow: column;
        //justify-content: space-around;

        
        label{
            width: 46%;
            height: auto;
            margin: 15px;

            display: flex;
            justify-content: center;

            input, textarea {
                width: 100%;
                //max-width: 300px;
                height: 55px;
                // margin-top: 30px;
                padding: 0 24px;
                //margin: 0 10px;
                appearance: none;
                
                font-family: $fontText;
                font-size: 1rem;
                font-weight: 500;
                word-spacing: 2px;
                letter-spacing: 2px;
                text-align: start;
                //background-color: rgb(236, 236, 236);
                background-color: rgba(252, 252, 252, 0);
                color: $colorText;

                //background-color: gray;
    
                cursor: text;
                /*outline: #6ab1fc;
                */border: 2px solid white;
    
                &::placeholder{
                    color: $colorText;
                }
                &:focus-visible{
                    outline: 1px solid rgba(0, 0, 0, 0);
                    background-color: rgba(255, 255, 255, 0.5); 
                }
                &::selection {
                    background-color: #888888;
                    color: white;
                    color: #000;
                }
            
                div {
                    width: auto;
                    height: 20px;
                    margin: auto;
                    position: relative;
                    top: -2px;
                    left: 25px;
                    font-size: 0.9rem;

                    background-color: black;
                }
                
            }
    
            textarea {
                height: 140px;
                //margin-top: 25px;
                overflow-wrap: break-word;
                padding: 20px 24px;
                text-align: justify;
                word-break: keep-all;
            }

            .submit {
                width: 100%;
                //min-width: 100px;
                height: 55px;
                //min-height: 40px;
                //margin: auto;
                //margin-top: 30px;
                padding: 0;
                cursor: pointer;
                border: none;
            
                font-family: 'Jost', sans-serif;
                font-weight: 500;
                font-size: 1.2rem;
                letter-spacing: 2px;
                text-transform: uppercase;
            
                text-align: center;
                

                border: 2px solid white;

                background-color: rgba(252, 252, 252, 0);
                color: $colorText;
    
                &:hover {
                    background-color: #386aa0;
                    color: white;
                }
                &:active {
                transform: scale(0.9);
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                }
            }
            
        }

        
        

        .invalid {
            color: rgb(219, 33, 0);
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            font-size: 1.2rem;
            text-align: left;
        }

        .error {
            border: solid 3px rgb(219, 33, 0);
        }

        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
  
    .data-contact{
        width: 80vw;
        height: 400px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .brand{
            display: flex;
            align-items: center;
            img{
                width: 60px;
                margin: 20px;
            }
            .brand-name{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .name{
                    font-family: $fontText;
                    font-size: 2.4rem;
                    font-weight: 600;
                    color: $colorText;
                }
                .line-work{
                    margin-top: -6px;
                    margin-left: 2px;
                    font-family: $fontText;
                    font-size: 1rem;
                    font-weight: 100;
                    letter-spacing: 3.5px;
                    color: $colorText;
                }
            }
        }

        .data{

            width: 90%;
            margin-left: 40px;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .phones{
                display: flex;
                align-items: flex-start;

                img{
                    height: 30px;
                    margin-top: 6px;
                }
                .phones-data{
                    margin: 0;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    h4, h5{
                        margin-bottom: 5px;
                        font-family: $fontText;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: $colorText;
                    }
                    h5{
                        margin-top: 5px;
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }
            }

            .location{
                display: flex;
                align-items: flex-start;

                a{
                    img{
                        height: 30px;
                        margin-top: 6px;
                        &:hover{
                            transform: scale(1.5);
                            -webkit-transform: scale(1.5);
                            -moz-transform: scale(1.5);
                            -ms-transform: scale(1.5);
                            -o-transform: scale(1.5);
                        }
                    }
                }
                .location-data{
                    margin: 0;
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    h4, h5{
                        margin-bottom: 5px;
                        font-family: $fontText;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: $colorText;
                    }
                    h5{
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }
                
            }
            .social-net{
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                h4{
                    margin-bottom: 15px;
                    font-family: $fontText;
                    font-weight: 500;
                    font-size: 1.2rem;
                    color: $colorText;
                }
                .social-icons{
                    width: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        height: 30px;
                        &:hover{
                            transform: scale(1.5);
                            -webkit-transform: scale(1.5);
                            -moz-transform: scale(1.5);
                            -ms-transform: scale(1.5);
                            -o-transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }

    .line{
        width: 80vw;
        height: 3px;
        position: relative;
        bottom: 20px;
        background-color: $colorText;
    }
}

footer{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    //background-color: $colorBackTitle;
    //background-color: $colorMagenta;
    //background-color: $colorBackHome;
    background-color: $colorBack;

    h6{
        margin: 20px;
        font-family: $fontCredits;
        font-weight: 300;
        font-size: 0.85rem;
        text-transform: none;
        letter-spacing: 1.5px;
        //color: $colorMagenta;
        color: $colorText;
        a{
            text-decoration: none;
        }
        span{
            font-weight: 500;
            color: $colorCyan;
        }
    }
}









// MEDIA QUERIES - RESPONSIVE

@media screen and (max-width: 1250px) {

    .about, .services, .contact{
        .title{
            height: calc(100px + 10vh) ;
            
            h4{
                font-size: 10rem;
                font-size: calc(100vw / 6) ;
            }
        }
        .mission{
            width: 70vw;
            //margin-top: 30px;
            img{
                height: 200px;
                margin: 0;
            }
            .paragraphs{
                font-size: 1.5rem;
            }
        }
    }

}

@media screen and (max-width: 1100px) {
    
    body .nav-bar{
        .nav-menu{
            display: none;
        }
        
        .menu-mobile{
            top: 8px;
            display: flex;
            //width:40px;
            cursor:pointer;   
            //margin-bottom: 140px;
        }
    }
    .home {
        h3.slogan{
            top: 160px;
        }
    }

    

}


@media screen and (max-width: 900px) {

    body .nav-bar{
        padding: 0 30px;

        .menu-mobile{
            
            right: 20px;
        }
    }

    .home {
        h3.slogan{
            width: 60vw;
            top: 160px;
            font-size: 2.3rem;
        }
        .buttons{
            .button{
                margin: 0 50px;
            }
        }
    }

    .about, .services, .contact{
        .back-navbar{
            height: 8vh;
        }
        .title{
            height: calc(70px + 10vh) ;
            
            // h4{
            //     //font-size: 10rem;
            //     //font-size: calc(100vw / 6) ;
            // }
        }
        h5{
            font-size: 1.1rem;
        }
        .mission{
            width: 80vw;
            //margin-top: 30px;
            img{
                margin: 0;
            }
            .paragraphs{
                margin-left: 50px;
                font-size: 1.4rem;
            }
        }

        .form-contact{
            width: 90vw;
            label{
                input, .submit{
                    height: 45px;
                }
                textarea{
                    height: 122px;
                }

            }
        }
        .data-contact{
            width: 90vw;
            .brand{
                img{
                    width: 50px;
                }
                .brand-name{
                    .name{
                        font-size: 2.2rem;
                    }
                    .line-work{
                        font-size: 0.9rem;
                        margin-left: 1px;
                    }
                }
            }
            .data{
                width: 90%;
                margin-left: 20px;
                .phones .phones-data h4,
                .location .location-data h4,
                .social-net h4{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .float{
        width: 40px;
        height: 40px;
        right: 20px;
    }
    .my-float{
        margin-top: 6px;
    }
    body .arrow-top{
        bottom: 120px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .nav-bar .menu-mobile .disclose-menu ul li a{
        font-size: 1.5rem;
    }

    .home {
        
        .buttons{
            .button{
                width: 180px;
                height: 40px;
                margin: 0 30px;
                font-size: 1.1rem;
            }
        }
    }
    // .contact{
    //     height: fit-content;
    // }
    .about, .services, .contact{
        .title{
            height: calc(50px + 10vh) ;
            
            // h4{
            //     //font-size: 10rem;
            //     //font-size: calc(100vw / 6) ;
            // }
        }
        h5{
            width: 80vw;
            text-align: center;
        }
        .mission{
            width: 80vw;
            margin-top: 30px;
            flex-direction: column;
            img{
                height: 160px;
            }
            .paragraphs{
                margin: 20px;
                text-align: center;
                //font-size: 1.4rem;
            }
        }

        .form-contact{
            width: 90vw;
            label{
                input, .submit{
                    height: 45px;
                }
                textarea{
                    height: 122px;
                }

            }
        }
        .data-contact{
            width: 90vw;
            height: fit-content;
            margin-bottom: 5vh;
            // .brand{
            //     img{
            //         width: 50px;
            //     }
            //     .brand-name{
            //         .name{
            //             font-size: 2.2rem;
            //         }
            //         .line-work{
            //             font-size: 0.9rem;
            //             margin-left: 1px;
            //         }
            //     }
            // }
            .data{
                height: fit-content;
                // width: 90%;
                // margin-left: 20px;
                //margin: 10vh 0;
                flex-direction: column;
                //align-items: center;
                flex-wrap: wrap;

                .phones, .location, .social-net{
                    //width: 300px;
                    margin: 20px 0;
                    //background-color: #386aa0;
                    //flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    .phones-data{
                        //flex-direction: row;
                        //align-items: center;
                        justify-content: center;
                        //margin-left: 0;
                        h4, h5{
                            width: fit-content;
                            margin-top: 5px;
                            margin-right: 10px;
                            font-size: 1.2rem;
                            //background-color: #25d366;
                        }
                    }
                    .location-data{
                        //width: 300px;
                        justify-content: center;
                        //background-color: #386aa0;
                        h4, h5{
                            width: fit-content;
                        }
                    }
                }


                .phones .phones-data h4,
                .location .location-data h4,
                .social-net h4{
                    font-size: 1rem;
                }
            }
        }
    }

    

}

@media screen and (max-width: 560px) {
    body .nav-bar{
        padding: 0 20px;

        .menu-mobile{
            
            right: 20px;
        }
    }

    .home {
        h3.slogan{
            width: 70vw;
            font-size: 2rem;
        }
        .buttons{
            bottom: 15vh;
            flex-direction: column;
            .button{
                width: 200px;
                height: 50px;
                margin: 20px 0;
                font-size: 1.1rem;
            }
        }
    }

    .about, .services, .contact{
        .back-navbar{
            height: 6vh;
        }
        .title{
            height: calc(30px + 10vh) ;
        }
        
        .mission{
            width: 80vw;
            margin-top: 10px;
            flex-direction: column;
            img{
                height: 130px;
            }
            .paragraphs{
                margin: 20px;
                font-size: 1.2rem;
            }
        }
        .form-contact{
            //background-color: #25d366;
            width: 90vw;
            height: fit-content;
            align-items: center;
            label{
                width: 80vw;
                min-width: 200px;
                // flex-direction: column;
                // align-items: center;
                // flex-wrap: wrap;
                //background-color: #25d366;
                
                input, .submit{
                    height: 45px;
                }
                textarea{
                    height: 122px;
                }

            }
        }

        .data-contact{
            width: 90vw;
            height: fit-content;
            margin-bottom: 5vh;
            //align-items: center;
            //margin-left: 50px;
            // .brand{
            //     img{
            //         width: 50px;
            //     }
            //     .brand-name{
            //         .name{
            //             font-size: 2.2rem;
            //         }
            //         .line-work{
            //             font-size: 0.9rem;
            //             margin-left: 1px;
            //         }
            //     }
            // }
            .data{
                height: fit-content;
                // width: 90%;
                margin: 0 auto ;
                //margin: 10vh 0;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: wrap;

                .phones, .location, .social-net{
                    //width: 300px;
                    margin: 20px 0;
                    //background-color: #386aa0;
                    //flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    .phones-data{
                        //flex-direction: row;
                        //align-items: center;
                        justify-content: center;
                        //margin-left: 0;
                        h4, h5{
                            width: fit-content;
                            margin-top: 5px;
                            margin-right: 10px;
                            font-size: 1.2rem;
                            //background-color: #25d366;
                        }
                    }
                    .location-data{
                        //width: 300px;
                        justify-content: center;
                        //background-color: #386aa0;
                        h4, h5{
                            width: fit-content;
                        }
                    }
                }


                .phones .phones-data h4,
                .location .location-data h4,
                .social-net h4{
                    font-size: 1rem;
                }
            }
        }

    }
    .services{
        .cards-services{
            .card{
                min-width: 300px;
                height: 200px;
                img{
                    width: 40px;
                    height: 40px;
                    margin-top: 8px;
                }
                h5{
                    font-size: 1.2rem;
                    margin-top: 8px;
                }
                p{
                    width: 90%;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media screen and (max-width: 415px) {

    body .nav-bar{
        padding: 0 10px;
        .brand{
            //width: 200px;

            img{
                display: none;
            }
            .brand-name{
                //width: 200px;
                .name-logo{
                    font-size: 1.8rem;
                }
                .line-work{
                    margin-top: -5px;
                    font-size: 0.75rem;
                }
            }
        }
        

        .menu-mobile{
            top: 8px;
            right: 10px;
            span{
                z-index: 300000000;
                height: 3px;
                min-height: 3px;

                &:nth-of-type(1){
                    width:30px;
                }
                &:nth-of-type(2){
                    width:30px;
                }
                &:nth-of-type(3){
                    width:20px;
                } 
            }
            input[type="checkbox"]:checked ~ span:nth-of-type(1){
                transform-origin:bottom;
                transform:rotatez(45deg) translate(10px,10px)            ;
                -webkit-transform:rotatez(45deg) translate(10px,10px)            ;
                -moz-transform:rotatez(45deg) translate(10px,10px)            ;
                -ms-transform:rotatez(45deg) translate(10px,10px)            ;
                -o-transform:rotatez(45deg) translate(10px,10px)            ;
            }
        }
    }

    .home {
        h3.slogan{
            width: 80vw;
            font-size: 2rem;   
        }
        .buttons{
            bottom: 15vh;
            .button{
                width: 200px;
                height: 50px;
                margin: 20px 0;
                font-size: 1.1rem;
            }
        }
    }

    .about, .services, .contact{
        
        .title{
            height: calc(20px + 10vh) ;
        }
        h5{
            font-size: 0.9rem;
        }
        .mission{
            width: 80vw;
            margin-top: 10px;
            flex-direction: column;
            img{
                height: 130px;
            }
            .paragraphs{
                margin: 20px;
                font-size: 1.1rem;
            }
        }

        .data-contact{
            .brand{
                img{
                    width: 40px;
                }
                .brand-name{
                    .name{
                        font-size: 1.8rem;
                    }
                    .line-work{
                        font-size: 0.68rem;
                        margin-left: 1px;
                    }
                }
            }
        }

        
    }

}

    
@media screen and (max-width: 350px) {

    body .nav-bar{
        padding: 0 5px;
        .brand{
            //width: 200px;
            img{
                display: none;
            }
            .brand-name{
                //width: 200px;
                .name-logo{
                    margin-top: 5px;
                    font-size: 1.5rem;
                }
                .line-work{
                    margin-top: -5px;
                    font-size: 0.58rem;
                }
            }
        }
        

        .menu-mobile{
            top: 10px;
            right: 5px;
            
            span{
                z-index: 300000000;
                height: 3px;
                min-height: 3px;
                margin: 5px;

                &:nth-of-type(1){
                    width:30px;
                }
                &:nth-of-type(2){
                    width:30px;
                }
                &:nth-of-type(3){
                    width:20px;
                } 
            }
            input[type="checkbox"]:checked ~ span:nth-of-type(1){
                transform-origin:bottom;
                transform:rotatez(45deg) translate(9px,9px)            ;
                -webkit-transform:rotatez(45deg) translate(9px,9px)            ;
                -moz-transform:rotatez(45deg) translate(9px,9px)            ;
                -ms-transform:rotatez(45deg) translate(9px,9px)            ;
                -o-transform:rotatez(45deg) translate(9px,9px)            ;
            }
            
        }
    }

    .home {
        h3.slogan{
            width: 80vw;
            font-size: 1.6rem;
            
        }
    }

    .about, .services, .contact{
        
        .title{
            height: calc(10px + 10vh) ;
            
            // h4{
            //     //font-size: 10rem;
            //     //font-size: calc(100vw / 6) ;
            // }
        }
        h5{
            font-size: 0.7rem;
        }
        .mission{
            img{
                height: 110px;
            }
            .paragraphs{
                font-size: 0.9rem;
            }
        }

        .data-contact{
            .brand{
                img{
                    width: 30px;
                }
                .brand-name{
                    .name{
                        font-size: 1.5rem;
                    }
                    .line-work{
                        font-size: 0.52rem;
                        margin-left: 1px;
                    }
                }
            }
        }
    }

    .services{
        .cards-services{
            .card{
                min-width: 240px;
                height: 240px;
                img{
                    width: 40px;
                    height: 40px;
                    margin-top: 8px;
                }
                h5{
                    width: 200px;
                    font-size: 1.2rem;
                    margin-top: 8px;
                }
                p{
                    width: 90%;
                    font-size: 0.8rem;
                }
            }
        }
    }
}








    



