@-webkit-keyframes discloseMenu {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}
@keyframes discloseMenu {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes sliceDownNavBar {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
    display: flex;
  }
}
@keyframes sliceDownNavBar {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
    display: flex;
  }
}
@-webkit-keyframes sliceUpNavBar {
  0% {
    top: 0px;
  }
  100% {
    top: -500px;
    display: none;
  }
}
@keyframes sliceUpNavBar {
  0% {
    top: 0px;
  }
  100% {
    top: -500px;
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* h1, * h2, * h3, * h4, * h5, * h6 {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
* p {
  font-family: "Montserrat", sans-serif;
}
* ::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 3px 3px 10px #000;
  z-index: 100;
}
.float:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.my-float {
  margin-top: 16px;
}

.hide {
  opacity: 0;
}

.fade-out {
  opacity: 0;
}

.scale-down {
  margin-bottom: 10px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}

body {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* BURGUER MENU UNABLE AND SETTING*/
}
body .arrow-top {
  z-index: 100;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 160px;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
}
body .arrow-top:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
body .arrow-top img {
  width: 100%;
  height: 100%;
}
body .nav-bar {
  z-index: 100;
  width: 100vw;
  height: 10vh;
  max-height: 60px;
  padding: 0 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: opacity 250ms ease-in-out;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -ms-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
}
body .nav-bar a {
  text-decoration: none;
}
body .nav-bar .brand {
  width: 300px;
  height: 60px;
  margin-right: 0px;
  display: flex;
  align-items: center;
}
body .nav-bar .brand img {
  height: 43px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}
body .nav-bar .brand img {
  transition: margin-bottom 0.2s ease-in-out;
  -webkit-transition: margin-bottom 0.2s ease-in-out;
  -moz-transition: margin-bottom 0.2s ease-in-out;
  -ms-transition: margin-bottom 0.2s ease-in-out;
  -o-transition: margin-bottom 0.2s ease-in-out;
}
body .nav-bar .brand .brand-name {
  width: 270px;
  height: 60px;
  margin: 0 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .nav-bar .brand .brand-name .name-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
body .nav-bar .brand .brand-name .line-work {
  margin: -7px 0;
  margin-left: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.87rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2.8px;
  color: white;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
body .nav-bar .nav-menu {
  height: 40px;
}
body .nav-bar .nav-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .nav-bar .nav-menu ul li {
  min-width: 75px;
  margin: 0 20px;
  list-style: none;
  border-style: none;
  text-align: center;
}
body .nav-bar .nav-menu ul li a {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
body .nav-bar .nav-menu ul li a:hover {
  color: #E1007A;
}
body .nav-bar .nav-menu ul li a:click {
  color: #009bdc;
}
body .nav-bar {
  /* *****************************************************************/
  transition: background 250ms;
  -webkit-transition: background 250ms;
  -moz-transition: background 250ms;
  -ms-transition: background 250ms;
  -o-transition: background 250ms;
}
body .nav-bar .menu-mobile {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 500px;
  right: 50px;
  z-index: 20000;
  flex-direction: column;
}
body .nav-bar .menu-mobile .disclose-menu {
  display: none;
}
body .nav-bar .menu-mobile .show-menu-mobile {
  display: flex;
}
body .nav-bar .menu-mobile .hide-menu-mobile {
  animation: sliceUpNavBar 1000ms ease 0s normal;
  -webkit-animation: sliceUpNavBar 1000ms ease 0s normal;
}
body .nav-bar .menu-mobile .show-menu-mobile {
  animation: sliceDownNavBar 1000ms ease 0s normal;
  -webkit-animation: sliceDownNavBar 1000ms ease 0s normal;
}
body .nav-bar .menu-mobile span {
  z-index: 3000000;
  background: #fff;
  border-radius: 10px;
  height: 5px;
  min-height: 5px;
  margin: 6px 0;
}
body .nav-bar .menu-mobile span:nth-of-type(1) {
  width: 40px;
}
body .nav-bar .menu-mobile span:nth-of-type(2) {
  width: 40px;
}
body .nav-bar .menu-mobile span:nth-of-type(3) {
  width: 30px;
}
body .nav-bar .menu-mobile input[type=checkbox] {
  display: none;
}
body .nav-bar .menu-mobile input[type=checkbox]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(12px, 12px);
}
body .nav-bar .menu-mobile input[type=checkbox]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
body .nav-bar .menu-mobile input[type=checkbox]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(20px, -12px) rotateZ(45deg) rotateY(90deg);
}
body .nav-bar .disclose-menu {
  /*display: none;
  */
  margin-top: 0;
  position: fixed;
  /*z-index: 4;
  */
  top: 0px;
  right: 0;
  width: 100vw;
  height: 55vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .nav-bar .disclose-menu ul {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  position: absolute;
  top: 50px;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .nav-bar .disclose-menu ul li {
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  height: 2vh;
  border: 1px solid transparent; /* le da grosor, solido y transparencia para que las palabras queden quietas al hacer el hover */
  transition: 0.3s;
  margin-bottom: 50px;
}
body .nav-bar .disclose-menu ul li :hover {
  color: #E1007A;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .nav-bar .disclose-menu ul li a {
  z-index: 5;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
}
body .nav-bar .disclose-menu ul li a :hover {
  color: #E1007A;
}
body .nav-gray {
  z-index: 200;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body .hide {
  display: none;
}
body .sliceDown {
  animation: sliceDownNavBar 500ms ease-in-out normal;
  -webkit-animation: sliceDownNavBar 500ms ease-in-out normal;
}
body .sliceUp {
  animation: sliceUpNavBar 500ms ease-in-out normal;
  -webkit-animation: sliceUpNavBar 500ms ease-in-out normal;
}

.home,
.about,
.services,
.contact {
  width: 100vw;
  height: 100vh;
  min-height: 800px;
}
.home .back-navbar,
.about .back-navbar,
.services .back-navbar,
.contact .back-navbar {
  width: 100vw;
  height: 10vh;
  position: absolute;
  background-color: #333333;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003E54;
}
.home .swiper {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  max-height: 500px;
  position: relative;
  top: 200px;
}
.home .swiper .swiper-wrapper {
  z-index: 1;
  width: 100vw;
  height: 700px;
}
.home .swiper .swiper-wrapper .swiper-slide {
  height: 100%;
}
.home .swiper .swiper-wrapper .swiper-slide img {
  width: 100vw;
  height: 100%;
  position: relative;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .swiper .fade {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  max-height: 500px;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 62, 84, 0.5);
}
.home .swiper .fade .fade-top, .home .swiper .fade .fade-bottom {
  width: 100%;
  height: 50%;
}
.home .swiper .fade .fade-top {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #003E54 85%);
}
.home .swiper .fade .fade-bottom {
  background: linear-gradient(0deg, #003E54 15%, rgba(0, 0, 0, 0) 100%);
}
.home .slogan {
  z-index: 50;
  width: 45%;
  position: absolute;
  top: 220px;
  font-size: 2.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  color: #fff;
}
.home .buttons {
  z-index: 50;
  position: absolute;
  bottom: 120px;
  display: flex;
  align-items: center;
}
.home .buttons a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
}
.home .buttons .button {
  width: 200px;
  height: 50px;
  margin: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.home .buttons .button:hover {
  cursor: pointer;
  color: #e1007a;
  border-color: #e1007a;
}
.home .buttons .button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.about {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .title {
  width: 100vw;
  padding-top: 40px;
  height: calc(120px + 10vh);
  background-color: #CBCBCB;
}
.about .title h4 {
  font-size: 15rem;
  font-size: 16.6666666667vw;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.about h5 {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: none;
  color: #fff;
}
.about .mission {
  width: 65vw;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.about .mission img {
  height: 260px;
  margin: 20px;
  opacity: 0.5;
}
.about .mission img:hover {
  opacity: 1;
}
.about .mission .paragraphs {
  margin-left: 100px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about .mission .paragraphs .paragraph-01, .about .mission .paragraphs .paragraph-02 {
  margin: 10px 0;
}

.services {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .title {
  width: 100vw;
  padding-top: 40px;
  height: calc(120px + 10vh);
  background-color: #CBCBCB;
}
.services .title h4 {
  font-size: 15rem;
  font-size: 16.6666666667vw;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.services h5 {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: none;
  color: #fff;
}
.services .cards-services {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services .cards-services .card {
  width: 30%;
  min-width: 366px;
  height: 230px;
  margin: 15px;
  background-color: #CBCBCB;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.services .cards-services .card:nth-child(2n) {
  background-color: #989898;
}
.services .cards-services .card img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .cards-services .card h5 {
  width: 280px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #1a1a1a;
  color: #003E54;
}
.services .cards-services .card p {
  width: 80%;
  font-size: 0.9rem;
  text-align: center;
  color: #1a1a1a;
}

.contact {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .title {
  width: 100vw;
  padding-top: 40px;
  height: calc(120px + 10vh);
  background-color: #CBCBCB;
}
.contact .title h4 {
  font-size: 15rem;
  font-size: 16.6666666667vw;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.contact h5 {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: none;
  color: #fff;
}
.contact .form-contact {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.contact .form-contact label {
  width: 46%;
  height: auto;
  margin: 15px;
  display: flex;
  justify-content: center;
}
.contact .form-contact label input, .contact .form-contact label textarea {
  width: 100%;
  height: 55px;
  padding: 0 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  word-spacing: 2px;
  letter-spacing: 2px;
  text-align: start;
  background-color: rgba(252, 252, 252, 0);
  color: #fff;
  cursor: text;
  /*outline: #6ab1fc;
  */
  border: 2px solid white;
}
.contact .form-contact label input::-moz-placeholder, .contact .form-contact label textarea::-moz-placeholder {
  color: #fff;
}
.contact .form-contact label input:-ms-input-placeholder, .contact .form-contact label textarea:-ms-input-placeholder {
  color: #fff;
}
.contact .form-contact label input::placeholder, .contact .form-contact label textarea::placeholder {
  color: #fff;
}
.contact .form-contact label input:focus-visible, .contact .form-contact label textarea:focus-visible {
  outline: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
}
.contact .form-contact label input::-moz-selection, .contact .form-contact label textarea::-moz-selection {
  background-color: #888888;
  color: white;
  color: #000;
}
.contact .form-contact label input::selection, .contact .form-contact label textarea::selection {
  background-color: #888888;
  color: white;
  color: #000;
}
.contact .form-contact label input div, .contact .form-contact label textarea div {
  width: auto;
  height: 20px;
  margin: auto;
  position: relative;
  top: -2px;
  left: 25px;
  font-size: 0.9rem;
  background-color: black;
}
.contact .form-contact label textarea {
  height: 140px;
  overflow-wrap: break-word;
  padding: 20px 24px;
  text-align: justify;
  word-break: keep-all;
}
.contact .form-contact label .submit {
  width: 100%;
  height: 55px;
  padding: 0;
  cursor: pointer;
  border: none;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid white;
  background-color: rgba(252, 252, 252, 0);
  color: #fff;
}
.contact .form-contact label .submit:hover {
  background-color: #386aa0;
  color: white;
}
.contact .form-contact label .submit:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.contact .form-contact .invalid {
  color: rgb(219, 33, 0);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
}
.contact .form-contact .error {
  border: solid 3px rgb(219, 33, 0);
}
.contact .data-contact {
  width: 80vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact .data-contact .brand {
  display: flex;
  align-items: center;
}
.contact .data-contact .brand img {
  width: 60px;
  margin: 20px;
}
.contact .data-contact .brand .brand-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact .data-contact .brand .brand-name .name {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}
.contact .data-contact .brand .brand-name .line-work {
  margin-top: -6px;
  margin-left: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 3.5px;
  color: #fff;
}
.contact .data-contact .data {
  width: 90%;
  margin-left: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact .data-contact .data .phones {
  display: flex;
  align-items: flex-start;
}
.contact .data-contact .data .phones img {
  height: 30px;
  margin-top: 6px;
}
.contact .data-contact .data .phones img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.contact .data-contact .data .phones .phones-data {
  margin: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact .data-contact .data .phones .phones-data h4, .contact .data-contact .data .phones .phones-data h5 {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}
.contact .data-contact .data .phones .phones-data h5 {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 200;
}
.contact .data-contact .data .location {
  display: flex;
  align-items: flex-start;
}
.contact .data-contact .data .location a img {
  height: 30px;
  margin-top: 6px;
}
.contact .data-contact .data .location a img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.contact .data-contact .data .location .location-data {
  margin: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact .data-contact .data .location .location-data h4, .contact .data-contact .data .location .location-data h5 {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}
.contact .data-contact .data .location .location-data h5 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 200;
}
.contact .data-contact .data .social-net {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .data-contact .data .social-net h4 {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}
.contact .data-contact .data .social-net .social-icons {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .data-contact .data .social-net .social-icons img {
  height: 30px;
}
.contact .data-contact .data .social-net .social-icons img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.contact .line {
  width: 80vw;
  height: 3px;
  position: relative;
  bottom: 20px;
  background-color: #fff;
}

footer {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}
footer h6 {
  margin: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  text-transform: none;
  letter-spacing: 1.5px;
  color: #fff;
}
footer h6 a {
  text-decoration: none;
}
footer h6 span {
  font-weight: 500;
  color: #009DDF;
}

@media screen and (max-width: 1320px) {
  .services, .contact {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 1250px) {
  .about .title, .services .title, .contact .title {
    height: calc(100px + 10vh);
  }
  .about .title h4, .services .title h4, .contact .title h4 {
    font-size: 10rem;
    font-size: 16.6666666667vw;
  }
  .about .mission, .services .mission, .contact .mission {
    width: 70vw;
  }
  .about .mission img, .services .mission img, .contact .mission img {
    height: 200px;
    margin: 0;
  }
  .about .mission .paragraphs, .services .mission .paragraphs, .contact .mission .paragraphs {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1100px) {
  body .nav-bar .nav-menu {
    display: none;
  }
  body .nav-bar .menu-mobile {
    top: 8px;
    display: flex;
    cursor: pointer;
  }
  .home h3.slogan {
    top: 160px;
  }
}
@media screen and (max-width: 900px) {
  body .nav-bar {
    padding: 0 30px;
  }
  body .nav-bar .menu-mobile {
    right: 20px;
  }
  .home h3.slogan {
    width: 60vw;
    top: 160px;
    font-size: 2.3rem;
  }
  .home .buttons .button {
    margin: 0 50px;
  }
  .about .back-navbar, .services .back-navbar, .contact .back-navbar {
    height: 8vh;
  }
  .about .title, .services .title, .contact .title {
    height: calc(70px + 10vh);
  }
  .about h5, .services h5, .contact h5 {
    font-size: 1.1rem;
  }
  .about .mission, .services .mission, .contact .mission {
    width: 80vw;
  }
  .about .mission img, .services .mission img, .contact .mission img {
    margin: 0;
  }
  .about .mission .paragraphs, .services .mission .paragraphs, .contact .mission .paragraphs {
    margin-left: 50px;
    font-size: 1.4rem;
  }
  .about .form-contact, .services .form-contact, .contact .form-contact {
    width: 90vw;
  }
  .about .form-contact label input, .about .form-contact label .submit, .services .form-contact label input, .services .form-contact label .submit, .contact .form-contact label input, .contact .form-contact label .submit {
    height: 45px;
  }
  .about .form-contact label textarea, .services .form-contact label textarea, .contact .form-contact label textarea {
    height: 122px;
  }
  .about .data-contact, .services .data-contact, .contact .data-contact {
    width: 90vw;
  }
  .about .data-contact .brand img, .services .data-contact .brand img, .contact .data-contact .brand img {
    width: 50px;
  }
  .about .data-contact .brand .brand-name .name, .services .data-contact .brand .brand-name .name, .contact .data-contact .brand .brand-name .name {
    font-size: 2.2rem;
  }
  .about .data-contact .brand .brand-name .line-work, .services .data-contact .brand .brand-name .line-work, .contact .data-contact .brand .brand-name .line-work {
    font-size: 0.9rem;
    margin-left: 1px;
  }
  .about .data-contact .data, .services .data-contact .data, .contact .data-contact .data {
    width: 90%;
    margin-left: 20px;
  }
  .about .data-contact .data .phones .phones-data h4,
.about .data-contact .data .location .location-data h4,
.about .data-contact .data .social-net h4, .services .data-contact .data .phones .phones-data h4,
.services .data-contact .data .location .location-data h4,
.services .data-contact .data .social-net h4, .contact .data-contact .data .phones .phones-data h4,
.contact .data-contact .data .location .location-data h4,
.contact .data-contact .data .social-net h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .float {
    width: 40px;
    height: 40px;
    right: 20px;
  }
  .my-float {
    margin-top: 6px;
  }
  body .arrow-top {
    bottom: 120px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
  .nav-bar .menu-mobile .disclose-menu ul li a {
    font-size: 1.5rem;
  }
  .home .buttons .button {
    width: 180px;
    height: 40px;
    margin: 0 30px;
    font-size: 1.1rem;
  }
  .about .title, .services .title, .contact .title {
    height: calc(50px + 10vh);
  }
  .about h5, .services h5, .contact h5 {
    width: 80vw;
    text-align: center;
  }
  .about .mission, .services .mission, .contact .mission {
    width: 80vw;
    margin-top: 30px;
    flex-direction: column;
  }
  .about .mission img, .services .mission img, .contact .mission img {
    height: 160px;
  }
  .about .mission .paragraphs, .services .mission .paragraphs, .contact .mission .paragraphs {
    margin: 20px;
    text-align: center;
  }
  .about .form-contact, .services .form-contact, .contact .form-contact {
    width: 90vw;
  }
  .about .form-contact label input, .about .form-contact label .submit, .services .form-contact label input, .services .form-contact label .submit, .contact .form-contact label input, .contact .form-contact label .submit {
    height: 45px;
  }
  .about .form-contact label textarea, .services .form-contact label textarea, .contact .form-contact label textarea {
    height: 122px;
  }
  .about .data-contact, .services .data-contact, .contact .data-contact {
    width: 90vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 5vh;
  }
  .about .data-contact .data, .services .data-contact .data, .contact .data-contact .data {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about .data-contact .data .phones, .about .data-contact .data .location, .about .data-contact .data .social-net, .services .data-contact .data .phones, .services .data-contact .data .location, .services .data-contact .data .social-net, .contact .data-contact .data .phones, .contact .data-contact .data .location, .contact .data-contact .data .social-net {
    margin: 20px 0;
    align-items: center;
    justify-content: flex-start;
  }
  .about .data-contact .data .phones .phones-data, .about .data-contact .data .location .phones-data, .about .data-contact .data .social-net .phones-data, .services .data-contact .data .phones .phones-data, .services .data-contact .data .location .phones-data, .services .data-contact .data .social-net .phones-data, .contact .data-contact .data .phones .phones-data, .contact .data-contact .data .location .phones-data, .contact .data-contact .data .social-net .phones-data {
    justify-content: center;
  }
  .about .data-contact .data .phones .phones-data h4, .about .data-contact .data .phones .phones-data h5, .about .data-contact .data .location .phones-data h4, .about .data-contact .data .location .phones-data h5, .about .data-contact .data .social-net .phones-data h4, .about .data-contact .data .social-net .phones-data h5, .services .data-contact .data .phones .phones-data h4, .services .data-contact .data .phones .phones-data h5, .services .data-contact .data .location .phones-data h4, .services .data-contact .data .location .phones-data h5, .services .data-contact .data .social-net .phones-data h4, .services .data-contact .data .social-net .phones-data h5, .contact .data-contact .data .phones .phones-data h4, .contact .data-contact .data .phones .phones-data h5, .contact .data-contact .data .location .phones-data h4, .contact .data-contact .data .location .phones-data h5, .contact .data-contact .data .social-net .phones-data h4, .contact .data-contact .data .social-net .phones-data h5 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  .about .data-contact .data .phones .location-data, .about .data-contact .data .location .location-data, .about .data-contact .data .social-net .location-data, .services .data-contact .data .phones .location-data, .services .data-contact .data .location .location-data, .services .data-contact .data .social-net .location-data, .contact .data-contact .data .phones .location-data, .contact .data-contact .data .location .location-data, .contact .data-contact .data .social-net .location-data {
    justify-content: center;
  }
  .about .data-contact .data .phones .location-data h4, .about .data-contact .data .phones .location-data h5, .about .data-contact .data .location .location-data h4, .about .data-contact .data .location .location-data h5, .about .data-contact .data .social-net .location-data h4, .about .data-contact .data .social-net .location-data h5, .services .data-contact .data .phones .location-data h4, .services .data-contact .data .phones .location-data h5, .services .data-contact .data .location .location-data h4, .services .data-contact .data .location .location-data h5, .services .data-contact .data .social-net .location-data h4, .services .data-contact .data .social-net .location-data h5, .contact .data-contact .data .phones .location-data h4, .contact .data-contact .data .phones .location-data h5, .contact .data-contact .data .location .location-data h4, .contact .data-contact .data .location .location-data h5, .contact .data-contact .data .social-net .location-data h4, .contact .data-contact .data .social-net .location-data h5 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .about .data-contact .data .phones .phones-data h4,
.about .data-contact .data .location .location-data h4,
.about .data-contact .data .social-net h4, .services .data-contact .data .phones .phones-data h4,
.services .data-contact .data .location .location-data h4,
.services .data-contact .data .social-net h4, .contact .data-contact .data .phones .phones-data h4,
.contact .data-contact .data .location .location-data h4,
.contact .data-contact .data .social-net h4 {
    font-size: 1rem;
  }
  .contact {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact .data-contact {
    align-items: center;
  }
  .contact .data-contact .data {
    flex-direction: column;
    align-items: center;
  }
  .contact .data-contact .data .phones a img, .contact .data-contact .data .location a img, .contact .data-contact .data .social-icons a img {
    height: 40px;
  }
}
@media screen and (max-width: 560px) {
  body .nav-bar {
    padding: 0 20px;
  }
  body .nav-bar .menu-mobile {
    right: 20px;
  }
  .home h3.slogan {
    width: 70vw;
    font-size: 2rem;
  }
  .home .buttons {
    bottom: 15vh;
    flex-direction: column;
  }
  .home .buttons .button {
    width: 200px;
    height: 50px;
    margin: 20px 0;
    font-size: 1.1rem;
  }
  .about .back-navbar, .services .back-navbar, .contact .back-navbar {
    height: 6vh;
  }
  .about .title, .services .title, .contact .title {
    height: calc(30px + 10vh);
  }
  .about .mission, .services .mission, .contact .mission {
    width: 80vw;
    margin-top: 10px;
    flex-direction: column;
  }
  .about .mission img, .services .mission img, .contact .mission img {
    height: 130px;
  }
  .about .mission .paragraphs, .services .mission .paragraphs, .contact .mission .paragraphs {
    margin: 20px;
    font-size: 1.2rem;
  }
  .about .form-contact, .services .form-contact, .contact .form-contact {
    width: 90vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
  }
  .about .form-contact label, .services .form-contact label, .contact .form-contact label {
    width: 80vw;
    min-width: 200px;
  }
  .about .form-contact label input, .about .form-contact label .submit, .services .form-contact label input, .services .form-contact label .submit, .contact .form-contact label input, .contact .form-contact label .submit {
    height: 45px;
  }
  .about .form-contact label textarea, .services .form-contact label textarea, .contact .form-contact label textarea {
    height: 122px;
  }
  .about .data-contact, .services .data-contact, .contact .data-contact {
    width: 90vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 5vh;
  }
  .about .data-contact .data, .services .data-contact .data, .contact .data-contact .data {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about .data-contact .data .phones, .about .data-contact .data .location, .about .data-contact .data .social-net, .services .data-contact .data .phones, .services .data-contact .data .location, .services .data-contact .data .social-net, .contact .data-contact .data .phones, .contact .data-contact .data .location, .contact .data-contact .data .social-net {
    margin: 20px 0;
    align-items: center;
    justify-content: flex-start;
  }
  .about .data-contact .data .phones .phones-data, .about .data-contact .data .location .phones-data, .about .data-contact .data .social-net .phones-data, .services .data-contact .data .phones .phones-data, .services .data-contact .data .location .phones-data, .services .data-contact .data .social-net .phones-data, .contact .data-contact .data .phones .phones-data, .contact .data-contact .data .location .phones-data, .contact .data-contact .data .social-net .phones-data {
    justify-content: center;
  }
  .about .data-contact .data .phones .phones-data h4, .about .data-contact .data .phones .phones-data h5, .about .data-contact .data .location .phones-data h4, .about .data-contact .data .location .phones-data h5, .about .data-contact .data .social-net .phones-data h4, .about .data-contact .data .social-net .phones-data h5, .services .data-contact .data .phones .phones-data h4, .services .data-contact .data .phones .phones-data h5, .services .data-contact .data .location .phones-data h4, .services .data-contact .data .location .phones-data h5, .services .data-contact .data .social-net .phones-data h4, .services .data-contact .data .social-net .phones-data h5, .contact .data-contact .data .phones .phones-data h4, .contact .data-contact .data .phones .phones-data h5, .contact .data-contact .data .location .phones-data h4, .contact .data-contact .data .location .phones-data h5, .contact .data-contact .data .social-net .phones-data h4, .contact .data-contact .data .social-net .phones-data h5 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  .about .data-contact .data .phones .location-data, .about .data-contact .data .location .location-data, .about .data-contact .data .social-net .location-data, .services .data-contact .data .phones .location-data, .services .data-contact .data .location .location-data, .services .data-contact .data .social-net .location-data, .contact .data-contact .data .phones .location-data, .contact .data-contact .data .location .location-data, .contact .data-contact .data .social-net .location-data {
    justify-content: center;
  }
  .about .data-contact .data .phones .location-data h4, .about .data-contact .data .phones .location-data h5, .about .data-contact .data .location .location-data h4, .about .data-contact .data .location .location-data h5, .about .data-contact .data .social-net .location-data h4, .about .data-contact .data .social-net .location-data h5, .services .data-contact .data .phones .location-data h4, .services .data-contact .data .phones .location-data h5, .services .data-contact .data .location .location-data h4, .services .data-contact .data .location .location-data h5, .services .data-contact .data .social-net .location-data h4, .services .data-contact .data .social-net .location-data h5, .contact .data-contact .data .phones .location-data h4, .contact .data-contact .data .phones .location-data h5, .contact .data-contact .data .location .location-data h4, .contact .data-contact .data .location .location-data h5, .contact .data-contact .data .social-net .location-data h4, .contact .data-contact .data .social-net .location-data h5 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .about .data-contact .data .phones .phones-data h4,
.about .data-contact .data .location .location-data h4,
.about .data-contact .data .social-net h4, .services .data-contact .data .phones .phones-data h4,
.services .data-contact .data .location .location-data h4,
.services .data-contact .data .social-net h4, .contact .data-contact .data .phones .phones-data h4,
.contact .data-contact .data .location .location-data h4,
.contact .data-contact .data .social-net h4 {
    font-size: 1rem;
  }
  .services .cards-services .card {
    min-width: 300px;
    height: 240px;
  }
  .services .cards-services .card img {
    width: 40px;
    height: 40px;
    margin-top: 8px;
  }
  .services .cards-services .card h5 {
    font-size: 1.4rem;
    margin-top: 8px;
  }
  .services .cards-services .card p {
    width: 90%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 415px) {
  body .nav-bar {
    padding: 0 10px;
  }
  body .nav-bar .brand img {
    display: none;
  }
  body .nav-bar .brand .brand-name .name-logo {
    font-size: 1.8rem;
  }
  body .nav-bar .brand .brand-name .line-work {
    margin-top: -5px;
    font-size: 0.75rem;
  }
  body .nav-bar .menu-mobile {
    top: 8px;
    right: 10px;
  }
  body .nav-bar .menu-mobile span {
    z-index: 300000000;
    height: 3px;
    min-height: 3px;
  }
  body .nav-bar .menu-mobile span:nth-of-type(1) {
    width: 30px;
  }
  body .nav-bar .menu-mobile span:nth-of-type(2) {
    width: 30px;
  }
  body .nav-bar .menu-mobile span:nth-of-type(3) {
    width: 20px;
  }
  body .nav-bar .menu-mobile input[type=checkbox]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(10px, 10px);
    -webkit-transform: rotatez(45deg) translate(10px, 10px);
    -moz-transform: rotatez(45deg) translate(10px, 10px);
    -ms-transform: rotatez(45deg) translate(10px, 10px);
    -o-transform: rotatez(45deg) translate(10px, 10px);
  }
  .home h3.slogan {
    width: 80vw;
    font-size: 2rem;
  }
  .home .buttons {
    bottom: 15vh;
  }
  .home .buttons .button {
    width: 200px;
    height: 50px;
    margin: 20px 0;
    font-size: 1.1rem;
  }
  .about .title, .services .title, .contact .title {
    height: calc(20px + 10vh);
  }
  .about h5, .services h5, .contact h5 {
    font-size: 0.9rem;
  }
  .about .mission, .services .mission, .contact .mission {
    width: 80vw;
    margin-top: 10px;
    flex-direction: column;
  }
  .about .mission img, .services .mission img, .contact .mission img {
    height: 130px;
  }
  .about .mission .paragraphs, .services .mission .paragraphs, .contact .mission .paragraphs {
    margin: 20px;
    font-size: 1.1rem;
  }
  .about .data-contact .brand img, .services .data-contact .brand img, .contact .data-contact .brand img {
    width: 40px;
  }
  .about .data-contact .brand .brand-name .name, .services .data-contact .brand .brand-name .name, .contact .data-contact .brand .brand-name .name {
    font-size: 1.8rem;
  }
  .about .data-contact .brand .brand-name .line-work, .services .data-contact .brand .brand-name .line-work, .contact .data-contact .brand .brand-name .line-work {
    font-size: 0.68rem;
    margin-left: 1px;
  }
}
@media screen and (max-width: 350px) {
  body .nav-bar {
    padding: 0 5px;
  }
  body .nav-bar .brand img {
    display: none;
  }
  body .nav-bar .brand .brand-name .name-logo {
    margin-top: 5px;
    font-size: 1.5rem;
  }
  body .nav-bar .brand .brand-name .line-work {
    margin-top: -5px;
    font-size: 0.58rem;
  }
  body .nav-bar .menu-mobile {
    top: 10px;
    right: 5px;
  }
  body .nav-bar .menu-mobile span {
    z-index: 300000000;
    height: 3px;
    min-height: 3px;
    margin: 5px;
  }
  body .nav-bar .menu-mobile span:nth-of-type(1) {
    width: 30px;
  }
  body .nav-bar .menu-mobile span:nth-of-type(2) {
    width: 30px;
  }
  body .nav-bar .menu-mobile span:nth-of-type(3) {
    width: 20px;
  }
  body .nav-bar .menu-mobile input[type=checkbox]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(9px, 9px);
    -webkit-transform: rotatez(45deg) translate(9px, 9px);
    -moz-transform: rotatez(45deg) translate(9px, 9px);
    -ms-transform: rotatez(45deg) translate(9px, 9px);
    -o-transform: rotatez(45deg) translate(9px, 9px);
  }
  .home h3.slogan {
    width: 80vw;
    font-size: 1.6rem;
  }
  .about .title, .services .title, .contact .title {
    height: calc(10px + 10vh);
  }
  .about h5, .services h5, .contact h5 {
    font-size: 0.7rem;
  }
  .about .mission img, .services .mission img, .contact .mission img {
    height: 110px;
  }
  .about .mission .paragraphs, .services .mission .paragraphs, .contact .mission .paragraphs {
    font-size: 0.9rem;
  }
  .about .data-contact .brand img, .services .data-contact .brand img, .contact .data-contact .brand img {
    width: 30px;
  }
  .about .data-contact .brand .brand-name .name, .services .data-contact .brand .brand-name .name, .contact .data-contact .brand .brand-name .name {
    font-size: 1.5rem;
  }
  .about .data-contact .brand .brand-name .line-work, .services .data-contact .brand .brand-name .line-work, .contact .data-contact .brand .brand-name .line-work {
    font-size: 0.52rem;
    margin-left: 1px;
  }
  .services .cards-services .card {
    min-width: 240px;
    height: 300px;
  }
  .services .cards-services .card img {
    width: 40px;
    height: 40px;
    margin-top: 8px;
  }
  .services .cards-services .card h5 {
    width: 230px;
    font-size: 1.2rem;
    margin-top: 8px;
  }
  .services .cards-services .card p {
    width: 90%;
    font-size: 1rem;
  }
}/*# sourceMappingURL=app.css.map */